<section ng-controller="GiphdersController" ng-init="find(authentication)">
  <div class="page-header">
    <h1>Gifs</h1>
  </div>
  <div id="viewport" class="list-group">
      <ul class="stack list-group-item" swing-stack>
          <li swing-card
              swing-on-throwoutleft="addToFavorites({giphyId: card.id, _id: authentication.user._id}, eventObject)"
              swing-on-throwoutright="remove(eventObject)"
              ng-repeat="card in cards"
              id="{{card.id}}">
            <img
              ng-src="{{card.url}}"
              alt="Description" />
          </li> 
      </ul>
  </div>
  <div class="alert alert-warning text-center" ng-if="giphders.$resolved && !giphders.length">
    No giphders yet, why don't you <a ui-sref="giphders.create">create one</a>?
  </div>
</section>