<section ng-controller="GiphdersController" ng-init="find()">
  <div class="page-header">
    <h1>Giphders</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="giphder in giphders" ui-sref="giphders.view({giphderId: giphder.id})" class="list-group-item">
      <img ng-src="{{giphder.images.fixed_height_small.url}}" alt="Description" />
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="giphder.trending_datetime | date:'mediumDate'"></span>
        by
        <span ng-bind="giphder.username"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="giphder.title"></h4>
      <p class="list-group-item-text" ng-bind="giphder.source_tld"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="giphders.$resolved && !giphders.length">
    No giphders yet, why don't you <a ui-sref="giphders.create">create one</a>?
  </div>
</section>
